html,
body,
#root {
  height: 100%;
}
body {
  background: #222;
  color: white;
}
#root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}
.shadow {
  box-shadow: 0 1px 5px 2px #000, inset 0 0 2px 0 hsla(0, 0%, 100%, 0.05);
}
.cursor {
  animation: blink 1s ease-in infinite;
  position: absolute;
}
@keyframes blink {
  to {
    opacity: 0;
  }
}

input {
  border: 0;
  caret-color: red;
  background: transparent;
  box-sizing: border-box;
}
input:focus {
  outline: 0;
}
/* kanban */
.react-trello-card {
  border: 0 !important;
  max-width: 999px !important;
}
.react-trello-lane {
  background-color: #111 !important;
  margin: 10px !important;
  color: #099 !important;
  max-width: 999px !important;
  box-shadow: 0 1px 5px 2px #000, inset 0 0 2px 0px rgba(255, 255, 255, 0.05) !important;
}
/* editor */
.CodeMirror {
  height: 100% !important;
  line-height: 24px;
}
.CodeMirror-cursor {
  border-color: red !important;
}
.CodeMirror-lines {
  padding: 0 !important;
}
.CodeMirror-line {
  padding: 2px !important;
  padding-left: 18px !important;
}
/* markdown */
h1,
h2 {
  font-size: 20px;
  margin: 10px 20px;
}
a {
  color: #069;
}
p,
pre {
  padding-left: 30px;
}
